html {
  font-size: 62.5%;
  font-family: "Roboto Mono", monospace;
}

body {
  color: #312229;
  background-color: #b18653;
}

.info-card {
  border: solid 2px #54101d;
  background: #47596f;
}

nav {
  background: #47596f;
}

.buttons {
  background: #d5c5ae;
}

.btn:hover {
  background: #e7e3dc;
}

footer {
  background: #47596f;
  width: 100%;
  margin-top: 17rem;
}

.divider {
  margin-top: 5rem;
}

.section {
  background: #47596f;
  color: white;
}

.searchHistoryBtn {
  background: #d5c5ae;
}

.searchHistoryBtn:hover {
  background: #e7e3dc;
}
